.allownce-line{
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
}
.allownce-line span{
    border-left: 3px solid green;
    height: 42px;
    border-bottom: 3px solid green;
    width: 50%;
}
.deduction-line{
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
}
.deduction-line span{
    border-right: 3px solid green;
    height: 42px;
    border-bottom: 3px solid green;
    width: 50%;
}
body {
    font-family: Arial, Helvetica, sans-serif;

}

@page {
    margin: 10px 10px 10px 10px !important;
    padding: 10px1 0px 10px 10px !important;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 100%;
}

table th {
    border: 1px solid #000;
    padding: 2px
}

table th {
    text-align: center;
    background-color: #F7F9F9;
    color: black;
}

table td {
    text-align: center;
    padding-bottom: 5px;
    padding: 8px;
    border-collapse: collapse;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}